.App {
    text-align: left;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  
  }
  .one{
    font-size: 32px;
    color: gray;
    margin-bottom: 0px;
  }
  
  .garis2{
    color: black;
    background-color: black;
    height: 5;
    background-color: black;
    margin-top: 10px;
  }
  
  .garis{
    height: 5;
    border-bottom:1px solid gray;
    margin-top: 15px;
  }
  
  .two{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Send{
    border: none;
    background-color: #4ac9ec;
    height: 5;
    color: #fff;
    padding: 12px 5cm;
  }
  
  .Send:active{
    background-color: red;
  }